* {
    box-sizing: border-box;
    font-family: 'Arial', sans-serif;
}

/* Style for the text input */
.input-lobby-code {
    padding: 10px 15px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 4px;
    width: 100%;
    outline: none;
    transition: border-color 0.3s, box-shadow 0.3s;
    margin: 10px;

    /* Placeholder color */
    ::placeholder {
        color: #888;
    }
}

/* Style for the text input when focused */
.input-lobby-code:focus {
    border-color: #31db7b;
    box-shadow: 0 0 5px rgba(0,123,255,0.5);
}

.button-join-game {
    padding: 10px 20px;
    font-size: 16px;
    background-color: #31db7b;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    outline: none;
    transition: background-color 0.3s, transform 0.2s;
    margin: 20px;

    /* On hover */
    &:hover {
        background-color: #1c8047;
    }

    /* Active state (when pressed) */
    &:active {
        transform: scale(0.98);
    }

    /* Optional: Disabled state */
    &:disabled {
        cursor: not-allowed;
        opacity: 0.6;
    }
}