.button-container {
    display: flex;
    justify-content: center;
    justify-items: center;
    height: 80vh;
}

.button-left, .button-right {
  font-size: 30em;
  flex: 1; 
  height: 100%;
  border: none; 
  background: transparent; 
  padding: 0; 
  margin: 0 10px; 
  cursor: pointer; 
  overflow: hidden; 
}

.button-left[disabled], .button-right[disabled] {
  cursor: not-allowed; 
  opacity: 0.5; 
}

.vertical-rule {
  height: 100%; 
  width: 1px; 
  background-color: white; 
  margin: 0 10px; 
}

button {
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
