@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500&display=swap');

.button-container {
  display: flex;
  justify-content: center;
  justify-items: center;
  height: 80vh;
}

.button-left,
.button-right {
  touch-action: manipulation;
  color: white;
  font-size: calc(10vw + 10vh);
  flex: 1;
  height: 100%;
  border: none;
  background: transparent;
  padding: 0;
  margin: 0;
  cursor: pointer;
  overflow: hidden;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.button-left[disabled],
.button-right[disabled] {
  cursor: not-allowed;
  opacity: 0.5;
}

.vertical-rule {
  height: 100%;
  width: 1px;
  background-color: white;
  margin: 0 10px;
}

.connection-state {
  position: absolute;
  top: 10px;
  right: 10px;
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
}

.status {
  display: flex;
  align-items: center;
  font-size: 16px;
  border: 2px solid transparent;
  padding: 5px 10px;
  border-radius: 20px;
}

.status-dot {
  width: 12px;
  height: 12px;
  border-radius: 50%;
  margin-right: 5px;
  display: inline-block;
  border-width: 2px;
  border-style: solid;
}

.connected .status-dot {
  border-color: green;
  background-color: transparent;
}

.connected {
  color: green;
  border-color: rgba(0, 128, 0, 0.2);
}

.disconnected .status-dot {
  border-color: red;
  background-color: transparent;
}

.disconnected {
  color: red;
  border-color: rgba(255, 0, 0, 0.2);
}

.connecting .status-dot {
  border-color: yellow;
  background-color: transparent;
}

.connecting {
  color: yellow;
  border-color: rgba(255, 255, 0, 0.2);
}

.player-color-state {
  color: white;
  display: flex;
  align-items: center;
  position: absolute;
  top: 50px;
  right: 15px;
}

.player-color-dot {
  display: inline-block;
  width: 15px;
  height: 15px;
  border-radius: 7.5px;
  margin-left: 5px;
}

@media (max-width: 600px) {

  .button-left,
  .button-right {
    font-size: calc(8vw + 8vh);
  }
}

@media (max-width: 400px) {

  .button-left,
  .button-right {
    font-size: calc(5vw + 5vh);
  }
}